In [4]:
import pandas as pd

# Series

In [12]:
guadagni=[1,4,5,6,10,4]

In [14]:
pd.Series(guadagni)   #casting in pd
                      #genera etichette automatiche

0     1
1     4
2     5
3     6
4    10
5     4
dtype: int64

In [40]:
guadagni=[1,4,5,6,10,4]
guadagni_s=pd.Series(guadagni, index=['gen', 'feb', 'mar', 'apr', 'mag', 'giu'])  #creiaimo variabile
                                                                                  #creiamo delle etichette

In [42]:
guadagni_s

gen     1
feb     4
mar     5
apr     6
mag    10
giu     4
dtype: int64

In [ ]:
guadagni_s [4]   #usiamo indexing per ricercare dei valori

In [50]:
guadagni_s ['gen':'apr']    #usiamo indexing per ricercare dei valori

gen    1
feb    4
mar    5
apr    6
dtype: int64

In [52]:
guadagni_s*100

gen     100
feb     400
mar     500
apr     600
mag    1000
giu     400
dtype: int64

# DataFrame

In [70]:
import numpy as np
mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]
arr=np.array(mat)

In [72]:
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [74]:
pd.DataFrame(arr)    #visualizzazione in tabella (dati bidimensionali)

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [98]:
df=pd.DataFrame(arr, index=['abbigliamento', 'calzature', 'sportivo'],  #index= indici righe
            columns=['gen', 'feb', 'mar','apr', 'mag'])              #columns=indici colonne

In [100]:
df

               gen  feb  mar  apr  mag
abbigliamento    0    1    2    3    4
calzature        5    6    7    8    9
sportivo        10   11   12   13   14

In [106]:
df.shape

(3, 5)

In [108]:
df['gen']

abbigliamento     0
calzature         5
sportivo         10
Name: gen, dtype: int32

In [112]:
df.mean()

gen    5.0
feb    6.0
mar    7.0
apr    8.0
mag    9.0
dtype: float64