# pub_map.json

In [2]:
import pandas as pd

In [8]:
path_or_buf='C:/Users/Valentina/Python/Mappa-dei-pub-circoli-locali-in-Italia.json'
pub_map=pd.read_json(path_or_buf, encoding='latin1')

In [14]:
pub_map

,ccomune,cprovincia,cregione,cnome,canno_inserimento,cdata_e_ora_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
0,ALTRO,ALTRO,ALTRO,,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.575830
1,ALTRO,ALTRO,ALTRO,Lenny's Pub,2011,2011-07-29T17:22:56Z,1375887295,12.418681,46.747584
2,ALTRO,ALTRO,ALTRO,Murrayfield Pub,2015,2015-10-24T09:28:06Z,3323888102,9.029585,45.831340
3,ALTRO,ALTRO,ALTRO,Snop?e,2010,2010-09-22T08:32:52Z,921157802,13.640939,45.954607
4,Ala di Stura,TORINO,Piemonte,,2012,2012-05-21T14:28:45Z,1760949034,7.307306,45.313150
...,...,...,...,...,...,...,...,...,...
2492,Barletta (BT),BARLETTA ANDRIA TRANI,Puglia,Santa Croce,2010,2010-01-17T16:15:08Z,615632993,16.285782,41.320671
2493,Bisceglie (BT),BARLETTA ANDRIA TRANI,Puglia,Auld Dublin,2014,2014-03-03T20:56:16Z,2613737619,16.497204,41.241814
2494,Bisceglie (BT),BARLETTA ANDRIA TRANI,Puglia,Ferus,2014,2014-01-07T19:22:18Z,2613737620,16.506175,41.240957
2495,Trani (BT),BARLETTA ANDRIA TRANI,Puglia,Re Artù,2009,2009-09-04T07:57:05Z,482836935,16.418124,41.281518
2496,Trani (BT),BARLETTA ANDRIA TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

### Quanti dati ci sono in totale?

In [22]:
pub_map.shape

(2497, 9)

### Quali sono i metadati?

In [30]:
pub_map.columns

Index(['ccomune', 'cprovincia', 'cregione', 'cnome', 'canno_inserimento',
       'cdata_e_ora_inserimento', 'cidentificatore_in_openstreetmap',
       'clongitudine', 'clatitudine'],
      dtype='object')

### Stampiamo il primo elemento

In [32]:
pub_map.head(1)

,ccomune,cprovincia,cregione,cnome,canno_inserimento,cdata_e_ora_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
0,ALTRO,ALTRO,ALTRO,,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.57583

### Stampiamo l'ultimo elemento

In [34]:
pub_map.tail(1)

,ccomune,cprovincia,cregione,cnome,canno_inserimento,cdata_e_ora_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
2496,Trani (BT),BARLETTA ANDRIA TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

### Riusciamo a stampare un elemento a caso?

In [36]:
pub_map.sample(1)

,ccomune,cprovincia,cregione,cnome,canno_inserimento,cdata_e_ora_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
1731,Sinalunga,SIENA,Toscana,Timory Pub,2012,2012-10-10T14:35:27Z,1956793274,11.80293,43.209007

### Quali sono gli anni di inserimento presenti?

In [105]:
anni=pub_map['canno_inserimento'].unique()
anni=sorted(anni)        #ordinare ASC i dati di un numpy array
anni

[2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]

### Quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46?me?

In [174]:
long9_10=(pub_map ['clongitudine'] >=9) & (pub_map ['clongitudine'] <=10)   #filtro longitudine
lat45_46=(pub_map ['clatitudine'] >=45) & (pub_map ['clatitudine'] <=46)    #filtro latitudine
filtro=long9_10 & lat45_46                                                  #long+lat
var=pub_map.loc[filtro]                                                     #con .loc seleziono il filtro delle due condizioni
var.shape[0]       #con .shape vedo quante attività (ovvero quante righe) ci sono. uso [0] per avere come risultato solo il primo valore della tupla originaria

303

### Quante attività ci sono nella provincia di Vicenza?

#### Metodo 1: MENO CONSIGLIATO

In [196]:
vicenza=pub_map['cprovincia']=='VICENZA'
vicenza.sum()

73

#### Metodo 2:

In [221]:
filtro_vicenza=pub_map['cprovincia']=='VICENZA'
pub_map_vicenza=pub_map.loc[filtro_vicenza]
pub_map_vicenza.shape[0]

73

### Quante enoteche ci sono, e come si chiamano?

In [294]:
filtro_vicenza=pub_map['cprovincia']=='VICENZA'
filtro_enoteche=pub_map['cnome']=='enoteca'
pub_map_enoteche= filtro_vicenza & filtro_enoteche
pub_map_enoteche.nunique()

1