# Vediamo come importare un dataset

In [10]:
import pandas as pd

In [11]:
file_path='C:/Users/Valentina/Python/beginner_datasets/iris.csv'
iris=pd.read_csv(file_path)

In [24]:
iris.shape

(150, 5)

In [17]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [19]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [30]:
iris.nunique()

sepal_length    35
sepal_width     23
petal_length    43
petal_width     22
species          3
dtype: int64

# Esercizio amazon.csv

In [12]:
file_path='C:/Users/Valentina/Python/beginner_datasets/amazon.csv'
amazon=pd.read_csv(file_path)

### Valutiamo la dimensione del dataset

In [14]:
amazon.shape

(20000, 2)

### Visualizziamo dieci righe a caso

In [16]:
amazon.sample(10)

                                              reviewText  Positive
10393  This has so many sounds to choose from and it ...         1
1450   This app does what I wanted. I just click on t...         1
11928  works really great on the kindle fire wakes yo...         1
13378  I like this app. I'm on a G2. It's becoming mo...         1
16317  just like the print version. Like the red lett...         1
5211   I write a lot of list. things pop in my head a...         1
7805   This app is really nice. It's easy and very ef...         1
5317   This is a child's connect the dots game. It fe...         1
13767  I wasn't sure if this app would keep my toddle...         1
1088   This is by far the best alarm available.  Trie...         1

### Osserviamo quali sono i nomi di colonna

In [18]:
amazon.columns

Index(['reviewText', 'Positive'], dtype='object')

### Il dataset è bilanciato, ovvero, il numero di recensioni positive è uguale a quello delle negative, oppure no?

#### metodo 1 per contare Positive:

In [37]:
recensioni= amazon['Positive'].value_counts()
recensioni

Positive
1    15233
0     4767
Name: count, dtype: int64

#### metodo 2 per contare Positive:

In [42]:
positive=amazon.loc[:, 'Positive']
positive

0        1
1        1
2        1
3        1
4        1
        ..
19995    0
19996    1
19997    1
19998    1
19999    0
Name: Positive, Length: 20000, dtype: int64

In [46]:
rapporto=recensioni[1]/recensioni[0]
print('Il numero di recensioni positive è', '%.2f' % rapporto, 'volte quello delle recensioni negative')

Il numero di recensioni positive è 3.20 volte quello delle recensioni negative